@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: Raleway-Regular;
    src: url("Landing Page/Recursos/Raleway/Raleway-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url("Landing Page/Recursos/Raleway/Raleway-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: Raleway-Black;
    src: url("Landing Page/Recursos/Raleway/Raleway-Black.ttf") format('truetype');
}

html, body {
    margin: 0;
    width: 100%;
    background-color: #130832;
    height: 100%;
}

h1 {
    font-family: Raleway-Black, sans-serif;
    font-size: 60px;
    color: white;
    margin: 0;
}

h2 {
    font-family: Raleway-SemiBold, sans-serif;
    color: white;
    margin: 0;
    font-size: 45px;
}

h3 {
    grid-column: 1 / span 12;
    font-family: Raleway-Regular, sans-serif;
    font-size: 40px;
    color: #F75AFF;
    margin: 0;
}

a {
    font-family: Raleway-Regular, sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
}

header img {
    width: 200px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column h1, .column a {
    margin-top: 25px;
}

.column img {
    position: absolute;
    bottom: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    height: 100vh;
    padding: 0 40px;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.banner > h3 {
    margin-top: 60px;
}

.img-frente {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 30%;
}

.img-frente img {
    width: 100%;
    max-width: 600px;
}

.meet {
    grid-column: 1 / span 6;
}

.meet img {
    width: 100%;
}

.rightSection {
    grid-column: 7 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rightSection > h2 {
    font-size: 120px;
}

.box-violeta {
    background-color: #530DFF;
    padding: 15px 60px;
}

.rightSection h3 {
    color: white;
}

.rightSection2 {
    grid-column: 7 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightSection2 img {
    height: 20vh;
}

.rightSection3 {
    grid-column: 7 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="button"], input[type="submit"] {
    background-color: #F75AFF;
    border-radius: 40px;
    text-align: center;
    padding: 10px 40px;
    font-family: Raleway-Regular, sans-serif;
    font-size: 30px;
    color: #130832;
    border: none;
    cursor: pointer;
}

.ingresodatos {
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
}
form {
    font-family: Raleway-Regular, sans-serif;
    font-size: 25px;
    color: white;
}

form img {
    max-width: 600px;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

input[type="text"], input[type="email"], select {
    width: 50%;
    font-family: Raleway-Regular, sans-serif;
    font-size: 25px;
    text-align: left;
    padding: 5px 0 5px 10px;
}

#form-h1 {
    margin: 0;
}

#form-h2 {
    font-size: 25px;
}

@media(max-width: 1400px) {

}

@media(max-width: 480px) {
    h1 {
        font-size: 45px;
        margin: 30px 0;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    #firmaAbel {
        display: none;
    }

    .center {
        margin-bottom: 0;
    }

    .banner {
        grid-column-gap: 20px;
        padding: 0 20px;
        grid-template-rows: auto auto auto 1fr;
    }

    .meet {
        grid-column: 1 / span 12;
    }

    .rightSection h3 {
        display: none;
    }

    .rightSection {
        grid-column: 6 / span 7;
    }

    .rightSection > h2 {
        font-size: 40px;
    }

    .rightSection2 {
        display: none;
    }

    .rightSection3 {
        grid-column: 4 / span 6;
        justify-content: start;
        padding: 20px 0;
    }

    input[type="button"], input[type="submit"] {
        padding: 5px 20px;
        font-size: 25px;
    }

    .img-frente {
        left: 50px;
        width: 80%;
    }

    .img-frente img {
        max-width: 250px;
    }

    form {
        flex-direction: column;
        font-size: 20px;
    }

    form img {
        max-width: 250px;
        order: 1;
    }

    #form-h1 {
        font-size: 30px;
    }

    #form-h2 {
        font-size: 20px;
    }

    .ingresodatos {
        width: calc(100% - 40px);
        margin: 20px auto;
    }

    .spacebetween {
        flex-direction: column;
    }

    input[type="text"], input[type="email"], select {
        width: calc(100% - 20px);
        font-size: 20px;
    }

    a {
        font-size: 20px;
        margin: 20px 0;
    }

    .column h1, .column a {
        margin-top: 10px;
    }

    .column img {
        max-height: 40vh;
    }
}

